.container {
    width: 100%;
    margin: auto;
    min-height: 100vh;
    padding: 50px;
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  .headerContainer {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 40px;
    background-color: #2c3e50;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .navContainer {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navContainer button {
    padding: 8px 15px;
    border: none;
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .navContainer button:hover {
    background-color: #c0392b;
  }
  
  .navContainer nav {
    display: flex;
    gap: 15px;
    background: white;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  }
  
  .navContainer nav a {
    color: #2c3e50;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s ease;
  }
  
  .navContainer nav a:hover {
    color: #e74c3c;
  }
  
  /* Logo */
  .logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    font-size: 28px;
    font-weight: bold;
  }

  
  .logo div {
    width: 70px;
    height: 70px;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid white;
  }
  
 .welcome h1{
    font-size: 42px;
    text-align: center;
 }
 .welcome p{
    text-align: center;
    font-size: 21px;
    font-style: italic;
    line-height:normal;
 }
 .welcome{
    margin-bottom: 65px;
    margin-top: 40px;
 }
 .status{
    margin-top: 70px;
    margin-bottom: 50px;
 }
 .status h3{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
 }
 .status p{
    font-size: 19px;
    text-align: center;
 }